@using BackFirstStep.Models
@using Newtonsoft.Json
@*@{
    Layout = null;
}

*@


<h3>ABOUT SEHIFESI</h3>

<p>@TempData["Students"]</p>
<p>@ViewData["Students"]</p>
@*<ul>
      @foreach(var student in (List<Student>)TempData["Students"] )
    {
     <li>@student.Id  @student.Name  @student.Surname</li>
    }
</ul>*@



 


